<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Cadastrar Produto</title>
    <link rel="icon" type="image/png" href="/images/logo_icon.png">
    <link rel="stylesheet" href="/css/cadastrar_produto.css"/>
    <script src="/js/cadastrar_produto.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    <a href="javascript:history.back()" style="position: absolute; top: 20px; left: 20px; z-index: 10;">
        <button tabindex="12" style="border-radius: 50%; width: 40px; height: 40px; background-color: white; color: black; border: none; cursor: pointer; margin-top: 0; padding-top: 3px">
            <i class="fa-solid fa-arrow-left" style="font-size: 20px;"></i>
        </button>
    </a>
    
    <div style="padding-bottom: 20px;">
        <h1>Cadastrar Produto</h1>
        <form class="form-container" action="/produtos" method="POST" enctype="multipart/form-data">
            <div class="form-column">
                <label for="codigo">Código*</label>
                <input type="text" id="codigo" name="codigo" required placeholder="000000000" tabindex="1" maxlength="9" minlength="9" pattern="\d{9}">

                <label for="nome">Nome*</label>
                <input type="text" id="nome" name="nome" required placeholder="Nome do produto" maxlength="40" tabindex="2">

                <label for="categoria">Categoria*</label>
                <select id="categoria" name="categoria" required onchange="updateOptions()" tabindex="3">
                    <option value="" disabled selected hidden>Selecionar</option>
                    <option value="CAMISA">Camisa</option>
                    <option value="CAMISETA">Camiseta</option>
                    <option value="BERMUDA">Bermuda</option>
                    <option value="CALÇA">Calça</option>
                    <option value="SHORTS">Shorts</option>
                    <option value="SAPATO">Sapato</option>
                    <option value="MEIA">Meia</option>
                </select>

                <label for="tamanho">Tamanho*</label>
                <select id="tamanho" name="tamanho" required tabindex="4">
                    <option value="" disabled selected hidden>Selecionar</option>
                </select>
                <label for="genero">Gênero*</label>
                <select id="genero" name="genero" required tabindex="5">
                    <option value="" disabled selected hidden>Selecionar</option>
                    <option value="MASCULINO">Masculino</option>
                    <option value="FEMININO">Feminino</option>
                    <option value="UNISSEX">Unissex</option>
                </select>

                <label for="limiteMinimo">Limite Mínimo*</label>
                <input type="number" id="limiteMinimo" name="limiteMinimo" required placeholder="10" tabindex="7" min="1" max="999">
                
                <label for="preco">Preço*</label>
                <input type="text" id="preco" name="preco" required placeholder="R$10,00" tabindex="8" min="1" max="999">

                <button type="submit" id="save" tabindex="11">Cadastrar produto</button>
            </div>
            <div class="right-column">
                <div style="display: flex; justify-content: space-between; align-items:center;">
                    <label for="foto" style="display: block;">Foto (Opcional)</label>
                    <i class="fa-solid fa-pen-to-square edit-icon" style="cursor: pointer; display: block; color:white;"></i>
                </div>
                <div onclick="upload()" id="image-preview" class="image-box" tabindex="9">
                    <i class="fa-regular fa-image" style="font-size: 32px"></i>
                    <input type="file" id="foto" name="foto" accept="image/*" onchange="previewImage(event)" style="display:none">
                </div>
                <label for="descricao" style="margin-top: 2px;">Descrição (Opcional)</label>
                <div style="position: relative; display: inline-block; max-height: 120px;">
                    <textarea id="descricao" name="descricao" maxlength="200" placeholder="Ex: Camiseta branca em algodão, manga curta, etc"></textarea>
                    <span id="contador-descricao">0/200</span>
                </div>
            </div>
        </form>
    </div>
</body>
</html>