<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Cadastrar Produto</title>
    <link rel="icon" type="image/png" href="/images/logo_icon.png">
    <link rel="stylesheet" href="/css/cadastrar_produto.css"/>
    <script src="/js/cadastrar_produto.js" defer></script>
    <script src="/js/controle_acessos.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    <a href="javascript:history.back()" title="Voltar" id="btn-voltar" style="position: absolute; top: 20px; left: 20px; z-index: 10;">
        <button tabindex="12" style="border-radius: 50%; width: 40px; height: 40px; background-color: white; color: black; border: none; cursor: pointer; margin-top: 0; padding-top: 3px">
            <i class="fa-solid fa-arrow-left" style="font-size: 16px;"></i>
        </button>
    </a>

    <a href="#" title="Categorias" style="position: absolute; top: 20px; right: 20px; z-index: 10;">
        <button tabindex="13" style="border-radius: 50%; width: 40px; height: 40px; background-color: white; color: black; border: none; cursor: pointer; margin-top: 0; padding-top: 3px">
            <i class="fa-solid fa-tags" style="font-size: 16px;"></i>
        </button>
    </a>
    
    <div style="padding-bottom: 20px;">
        <h1>Cadastrar Produto</h1>
        <form class="form-container" action="/produtos" method="POST" enctype="multipart/form-data">
            <div class="form-column">
                <label for="codigo">Código*</label>
                <input type="text" id="codigo" name="codigo" required placeholder="000000000" tabindex="1" maxlength="9" minlength="9" pattern="\d{9}">

                <label for="nome">Nome*</label>
                <input type="text" id="nome" name="nome" required placeholder="Nome do produto" maxlength="50" tabindex="2">

                <label for="categoria-multi">Categoria*</label>
                <div class="multiselect-categoria input-group" style="position: relative; width: 100%;">
                  <input type="text" id="categoria-multi" name="categoria" readonly placeholder="Selecionar" required tabindex="3" style="width: 100%;" />
                  <span class="chevron-categoria" style="position: absolute; right: 12px; top: 50%; transform: translateY(-50%); cursor: pointer;">
                    <i class="fa-solid fa-chevron-down"></i>
                  </span>
                  <div id="radios-categoria-multi" class="checkboxes-categoria-multi"></div>
                </div>


                <label for="tamanho">Tamanho*</label>
                <div class="multiselect-tamanho input-group" style="position: relative; width: 100%;">
                  <input type="text" id="tamanho-multi" name="tamanho" readonly placeholder="Selecionar" required tabindex="4" style="width: 100%;" />
                  <div id="radios-tamanho-multi" class="radios-tamanho-multi" style="display: none;">
                  </div>
                    <span class="chevron-tamanho" style="position: absolute; right: 12px; top: 50%; transform: translateY(-50%); cursor: pointer;">
                    <i class="fa-solid fa-chevron-down"></i>
                    </span>
                </div>

                <label for="genero">Gênero*</label>
                <div class="multiselect-genero input-group" style="position: relative; width: 100%;">
                  <input type="text" id="genero-multi" name="genero" readonly placeholder="Selecionar" required tabindex="5" style="width: 100%;" />
                  <div id="radios-genero-multi" class="radios-genero-multi" style="display: none;">
                  </div>
                  <span class="chevron-genero" style="position: absolute; right: 12px; top: 50%; transform: translateY(-50%); cursor: pointer;">
                    <i class="fa-solid fa-chevron-down"></i>
                  </span>
                </div>

                <label for="limiteMinimo">Limite Mínimo*</label>
                <input type="number" id="limiteMinimo" name="limiteMinimo" required placeholder="10" tabindex="7" min="1" max="999">
                
                <label for="preco">Preço*</label>
                <input type="text" id="preco" name="preco" required placeholder="R$ 10,00" tabindex="8" min="1" max="999">

                <button class="btn" type="submit" id="save" tabindex="11">Cadastrar</button>
            </div>
            <div class="right-column">
                <div style="display: flex; justify-content: space-between; align-items:center;">
                    <label for="foto" style="display: block;">Foto (Opcional)</label>
                    <i class="fa-solid fa-pen-to-square edit-icon" title="Alterar foto" style="cursor: pointer; display: block; color:white;"></i>
                </div>
                <div onclick="upload()" id="image-preview" class="image-box" tabindex="9">
                    <i class="fa-regular fa-image" style="font-size: 32px"></i>
                    <input type="file" id="foto" name="foto" accept="image/*" onchange="previewImage(event)" style="display:none">
                </div>
                <label for="descricao" style="margin-top: 2px;">Descrição (Opcional)</label>
                <div style="position: relative; display: inline-block; max-height: 120px;">
                    <textarea id="descricao" name="descricao" maxlength="200" placeholder="Ex: Camiseta branca em algodão, manga curta, etc"></textarea>
                    <span id="contador-descricao">0/200</span>
                </div>
            </div>
        </form>
    </div>

    <!-- Modal Gerenciar Categorias -->
    <div id="modal-categorias-bg" class="detalhes-modal-bg" style="display:none;">
        <div class="detalhes-modal">
        <div style="align-items:center; justify-content:space-between;">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <h2 style="color:#277580; font-size:20px; margin:0;">Gerenciar Categorias</h2>
            <button type="button" onclick="fecharModalCategorias()" class="close-icon" title="Fechar">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
          <div class="categorias-table-header">
            <div class="categorias-col" style="min-width:130px; width: 130px; max-width: 130px;">Nomes</div>
            <div class="categorias-col" style="min-width:200px; width: 200px; max-width: 200px;">Tamanhos</div>
            <div class="categorias-col" style="min-width:130px; width: 130px; max-width: 130px;">Gêneros</div>
            <div></div>
          </div>
        </div>
        <form id="form-categorias" action="#" autocomplete="off">
        <div class="categorias-table"></div>
          <div style="display: flex; gap: 10px; align-items: flex-end;">
            <button type="button" id="btn-criar-categoria" class="btn">Adicionar (0/20)</button>
            <button type="submit" id="btn-salvar" class="btn">Salvar Alterações</button>
          </div>
      </form>
      </div>
    </div>
</body>
</html>