<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Menu Inicial</title>
    <link rel="icon" type="image/png" href="/images/logo_icon.png">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/inicio.css"/>
    <script th:inline="javascript">
        window.cargoUsuario = [[${cargo}]];
    </script>
    <script src="/js/inicio.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div id="user-avatar-float" title="Informações Pessoais" style="position:fixed;top:20px;left:20px;z-index:1000;display:flex;align-items:center;gap:10px;box-shadow:0 2px 8px rgba(0,0,0,0.08);background:#fff;border-radius:24px;padding:5px 16px 5px 5px;min-width:0;">
        
        <a th:href="@{/infos-usuario}" style="display:flex;align-items:center;text-decoration:none;gap:8px;">
            <div id="avatar-circle" style="width:30px;height:30px;border-radius:50%;background:#e0e7ef;display:flex;align-items:center;justify-content:center;font-weight:bold;font-size:12px;color:rgb(68, 68, 68, 0.65);user-select:none;">
            </div>
            <div style="display:flex;flex-direction:column; margin-top: 3px;">
                <span id="avatar-nome" style="font-size:12px;font-weight:bold;color:#333;max-width:80px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"></span>
                <span id="avatar-tipo" style="font-size:10px;color:#757575;margin-top: 1px;" th:text="${cargo.nome}"></span>
            </div>
        </a>
    </div>

    <div style="display: flex; gap: 12px; position:fixed; top:20px; right:20px; z-index:1000; align-items:center;">
        <div id="nots" title="Baixo estoque" style="font-size:20px; display:flex; align-items:center; box-shadow:0 2px 8px rgba(0,0,0,0.08); background:#fff; border-radius:24px; height:40px; min-height:40px; width: 40px; min-width: 40px;">
            <div class="notification" onclick="window.location.href='/baixo-estoque'" style="cursor:pointer;">
                <span style="display: inline-block; position: relative;">
                    <i class="fa-regular fa-bell" style="font-size: 20px;padding: 8px 0 0 11px"></i>
                </span>
                <span class="badge"></span>
            </div>
        </div>
        <div title="Sair" style="font-size:20px; display:flex; align-items:center; box-shadow:0 2px 8px rgba(0,0,0,0.08); background:#fff; border-radius:24px; padding:0 11px; height:40px; min-height:40px;">
            <i onclick="confirmarSaida(event)" class="fa-solid fa-arrow-right-from-bracket" style="cursor:pointer;font-size:18px;"></i>
        </div>
    </div>

        <h1 th:text="'Olá, ' + ${nome}">Olá, Usuário!</h1>
        <h2>O que deseja acessar hoje?</h2>
    

    <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
        <div class="container">

        <div class="card" id="card-fornecedores">
            <a th:href="@{/gerenciar-fornecedores}">
                <div class="icon-container"><i class="fa-regular fa-handshake"></i></div>
                <div class="text-container">
                    <p>Gerenciar Fornecedores<br><span class="card-value" id="valor-fornecedores" style="display:none"></span></p>
                </div>
            </a>
        </div>
        <div class="card" id="card-funcionarios">
            <a th:href="@{/gerenciar-funcionarios}">
                <div class="icon-container"><i class="fa-solid fa-users"></i></div>
                <div class="text-container">
                    <p>Gerenciar Funcionários<br><span class="card-value" id="valor-funcionarios" style="display:none"></span></p>
                </div>
            </a>
        </div>
        <div class="card" id="card-relatorios">
            <a th:href="@{/gerenciar-relatorios}">
                <div class="icon-container"><i class="fa-solid fa-chart-line"></i></div>
                <div class="text-container">
                    <p>Relatório de Desempenho<br><span class="card-value" id="valor-relatorios" style="display:none"></span></p>
                </div>
            </a>
        </div>
        <!-- Acesso limitado ao Gerente -->

        <div class="card" id="card-produtos-cadastrados">
            <a th:href="@{/cadastrar-produto}">
                <div class="icon-container"><i class="fa-solid fa-shirt"></i></div>
                <div class="text-container">
                    <p>Cadastrar Produto<br><span class="card-value" id="valor-produtos-cadastrados" style="display:none"></span></p>
                </div>
            </a>
        </div>
        <div class="card" id="card-total-produtos">
            <a th:href="@{/estoque}">
                <div class="icon-container"><i class="fa-solid fa-box"></i></div>
                <div class="text-container">
                    <p>Acessar Estoque<br><span class="card-value" id="valor-total-produtos" style="display:none"></span></p>
                </div>
            </a>
        </div>
        <div class="card" id="card-movimentacoes">
            <a th:href="@{/movimentacoes}">
                <div class="icon-container"><i class="fa-solid fa-money-bill-transfer"></i></div>
                <div class="text-container">
                    <p>Movimentações do Estoque<br><span class="card-value" id="valor-movimentacoes" style="display:none"></span></p>
                </div>
            </a>
        </div>
    </div>
</body>
</html>
