<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Produtos Removidos</title>
    <link rel="icon" type="image/png" href="/images/logo_icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/css/produtos_removidos.css" />
    <script src="/js/produtos_removidos.js" defer></script>
</head>
<body>
    <a href="/estoque" title="Voltar" style="position: absolute; top: 20px; left: 20px; z-index: 10;">
        <button tabindex="12" style="border-radius: 50%; width: 40px; height: 40px; background-color: white; color: black; border: none; cursor: pointer; margin-top: 0; padding-top: 3px">
            <i class="fa-solid fa-arrow-left" style="font-size: 16px;"></i>
        </button>
    </a>
    <h1>Produtos Removidos</h1>
        <div class="filters-container" style="align-items: center; justify-content: space-between; display: flex; margin: 0 auto 0 auto; border-radius: 10px 10px 0 0;padding: 20px 20px 10px 22px;">
        <div style="display: flex; align-items: center; gap: 5px;">
            <label for="registros-select">Mostrando</label>
            <select id="registros-select" style="padding: 5px 0; border-radius: 4px; font-size: 12px; height:30px; width: 55px;">
                <option value=""> Todos</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
        <button class="btn" style="margin-left: auto; height:30px;">
            (0) Selecionados
        </button>
    </div>
    <div class="main-container">
        <table id="removidos-list">
            <thead>
                <tr>
                    <th style="width: 36px; min-width:36px; max-width:36px; padding-left:8px;"></th>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Tamanho</th>
                    <th>Gênero</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Limite Mínimo</th>
                    <th>Data Exclusão</th>
                    <th>Responsável</th>
                    <th style="text-align: right; padding-right:20px;">
                        <label for="check-all" style="font-weight: bold;">Todos</label>
                        <input type="checkbox" id="check-all">
                    </th>
                </tr>
            </thead>
            <tbody id="removidos-table-body">
                <!-- <tr>
                    <td colspan="12" style="text-align:center;">Carregando Produtos...</td>
                </tr> -->
            </tbody>
        </table>
    </div>
</body>
</html>