body {
    font-family: Arial, sans-serif;
    background-color: #ccc;
    margin: 0;
    padding: 20px;
    font-size: 12px;
    scrollbar-gutter: stable;
    background-attachment: fixed;
    overflow: hidden;
}

h1 {
    font-size: 40px;
    color: #277580;
    text-align: center;
    margin: 40px 0 20px 0;
}

h2 {
    font-size: 20px;
    color: #277580;
    text-align: left;
    margin: 0;
}

.notification {
    position: relative;
    font-size: 24px;
}

.notification .badge {
    display: none;
    position: absolute;
    top: 2px;
    left: 16px;
    font-size: 10px;
    background-color: red;
    color: white;
    border-radius: 100%;
    min-width: 18px;
    height: 18px;
    text-align: center;
    z-index: 2;
    line-height: 12px;
    font-weight: bold;
    box-sizing: border-box;
    pointer-events: none;
    padding: 3px 6px;
}

.filters-container {
    max-width: 650px;
    min-width: 650px;
    margin: 0 auto 20px auto;
    box-sizing: border-box;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
    padding: 20px;
    display: flex;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: none;
    padding: 0;
    margin: 0;
}

.produto-img {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background: #f3f3f3;
    display: inline-block;
}
.produto-img.icon {
    align-items: center;
    justify-content: center;
    color: #bbb;
    font-size: 20px;
    width: 30px;
    height: 30px;
    background: #f3f3f3;
    border-radius: 6px;
}
.fa-trash:hover {
    color: red;
}

.main-container {
    background: white;
    border-radius: 10px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 0 20px 20px 20px;
    border-radius: 0 0 10px 10px;
    gap: 20px;
    max-width: 650px;
    min-width: 650px;
    margin: 0 auto;
}

.form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-column label {
    font-size: 12px;
}

label{
    padding: 5px 5px 5px 0;
    color: #333;
    font-weight: bold;
}

input[readonly]:not(#fornecedor-multi) {
    cursor: default !important;
    color: #999 !important;
}
input:focus[readonly] {
    outline: none !important;
    box-shadow: none !important;
}

.image-box {
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    color: #777;
    align-items: center;
    border: solid 2px #aaa;
    background-color: #f9f9f9;
    overflow: hidden;
}

.image-box img {
    width: 100%;
}
button:hover,
.fa-trash:hover {
    transition: background 0.2s, color 0.2s;
}

button {
    margin-top: 10px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #1E94A3;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

button:hover {
    background-color: #277580;
}

.filters .filter-input,
.filters .filter-select {
    width: 145px;
}

input, select {
    padding: 2px 8px;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    min-height: 30px;
    height: 30px;
    max-height: 30px;
    font-family: Arial, sans-serif;
    width: 100%;
}

input[type=radio] {
    margin: 0;
    accent-color: #1e94a3;
}
.tipo-movimentacao {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 15px;
    padding: 0 5px 0 0;
}

#select-produtos {
    padding-left: 3px;
    padding-right: 1px;
}

#select-produtos option[disabled][hidden] {
    display: none;
}

.filters-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0 10px;
    max-width: 620px;
}

.right-column {
display: flex;
flex-direction: column;
}

.swal2-confirm-custom {
    background-color: #1E94A3 !important;
    color: #fff !important;
    border-radius: 4px !important;
    font-size: 12px !important;
}
.swal2-confirm-custom:hover {
    background-color: #277580 !important;
}
.swal2-cancel-custom {
    background-color: #ccc !important;
    color: #000 !important;
    border-radius: 4px !important;
    font-size: 12px !important;
}
.swal2-cancel-custom:hover {
    background-color: #aaa !important;
}
#data-compra,
#data-venda {
    color: #757575;
}

#data-compra:valid,
#data-venda:valid {
    color: #000;
}
#filter-genero,
#filter-categoria,
#filter-tamanho {
  color: #757575;
}

input[readonly] {
    cursor: default !important;
}

#movimentacao-tipo-container label {
    font-weight: normal;
    color: black;
    margin: 5px 0px 0 5px;
}

.fa-arrow-left:hover,
.fa-house:hover,
.fa-arrow-up:hover {
    color: #1E94A3;
    transition: color 0.2s;
}


.multiselect.input-group {
    min-width: 180px;
    position: relative;
}

#filter-codigo,
#produto-multi-group {
    min-width: 300px;
    width: 300px;
}

#radios-fornecedor-multi,
#radios-produto-multi {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 4px;
    background: #fff;
    z-index: 1000;
    max-height: 52px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #aaa #fff;
}

#radios-fornecedor-multi label,
#radios-produto-multi label {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: normal;
    color: #757575;
    cursor: pointer;
    padding: 5px 8px;
    gap: 8px;
    transition: background 0.2s, color 0.2s;
}
#radios-fornecedor-multi label:hover,
#radios-fornecedor-multi label.selecionado,
#radios-produto-multi label:hover,
#radios-produto-multi label.selecionado {
    background-color: #f3f3f3;
    color: black;
}
#radios-fornecedor-multi input[type="radio"],
#radios-produto-multi input[type="radio"] {
    display: none;
}

.chevron-fornecedor {
    color: #888;
    transition: color 0.2s;
}


/* #radios-produto-multi {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 4px;
    background: #fff;
    z-index: 1000;
    max-height: 110px;
    overflow-y: auto;
}

#radios-produto-multi label {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: normal;
    color: #757575;
    cursor: pointer;
    padding: 5px 10px;
    gap: 8px;
    transition: background 0.2s, color 0.2s;
}
#radios-produto-multi label:hover,
#radios-produto-multi label.selecionado {
    background-color: #f3f3f3;
    color: black;
} */
/* #radios-produto-multi input[type="radio"] {
    display: none;
} */

/* .chevron-produto {
    color: #888;
    transition: color 0.2s;
} */


/* sweetAlert */
.swal2-popup {
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    border-radius: 10px;
}

.swal2-container {
    backdrop-filter: blur(2px);
}

.swal2-actions {
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0 20px;
}

.swal2-confirm,
.swal2-cancel,
.swal2-deny,
.swal2-styled.swal2-confirm,
.swal2-styled.swal2-cancel,
.swal2-styled.swal2-deny {
    flex: 1;
    margin: 0;
    border-radius: 4px;
    font-size: 12px;
    height: 30px;
    padding: 2px 8px;
    box-shadow: none;
    border: none;
    transition: background 0.2s, color 0.2s;
}

/* Botão de cancelar */
.swal2-cancel,
.swal2-styled.swal2-cancel {
    background-color: #fff;
    color: #1e94a3;
    border: #1e94a3 solid 1px;
}
.swal2-cancel:hover,
.swal2-styled.swal2-cancel:hover {
    background-color: #1E94A3;
    color: #fff;
}

/* Botão de confirmação/cancelar custom */
.swal2-confirm,
.swal2-styled.swal2-confirm,
.swal2-cancel-custom,
.swal2-styled.swal2-cancel-custom {
    background-color: #1E94A3;
    color: #fff;
}
.swal2-confirm:hover,
.swal2-styled.swal2-confirm:hover,
.swal2-cancel-custom:hover,
.swal2-styled.swal2-cancel-custom:hover {
    background-color: #277580;
}

/* Botão de deletar (vermelho padrão SweetAlert2) */
.swal2-remove-custom,
.swal2-styled.swal2-remove-custom {
    background-color: #d33;
    color: #fff;
}
.swal2-remove-custom:hover,
.swal2-styled.swal2-remove-custom:hover {
    background-color: #a52a2a;
}

/* Ícone de fechar (X) */
.swal2-close {
    color: #333;
    font-size: 30px;
    top: 10px;
    right: 10px;
    position: absolute;
    transition: color 0.2s;
}
.swal2-close:hover {
    color: #f27474;
}

/* Título */
.swal2-title {
    padding-top: 0;
    font-size: 20px;
}

/* Conteúdo HTML */
.swal2-html-container {
    padding: 10px;
    font-size: 16px;
}

.swal2-timer-progress-bar {
    border-radius: 0px 0 0 10px;
    margin-left: 3px;
}