body {
    font-family: Arial, sans-serif;
    background-color: #ccc;
    margin: 0;
    padding: 20px;
    font-size: 12px;
    scrollbar-gutter: stable;
    background-attachment: fixed;
}

h1 {
    font-size: 40px;
    color: #277580;
    text-align: center;
    margin: 40px 0 20px 0;
}

h2 {
    font-size: 20px;
    color: #277580;
    text-align: left;
    margin: 0;
}

.filters-container {
    max-width: 900px;
    min-width: 900px;
    margin: 0 auto 20px auto;
    box-sizing: border-box;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
    padding: 20px;
    display: flex;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: none;
    padding: 0;
    margin: 0;
}

/* .produto-img {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background: #f3f3f3;
    display: inline-block;
}
.produto-img.icon {
    align-items: center;
    justify-content: center;
    color: #bbb;
    font-size: 20px;
    width: 30px;
    height: 30px;
    background: #f3f3f3;
    border-radius: 6px;
} */
.fa-delete-left:hover {
    color: red;
}

.main-container {
    background: white;
    border-radius: 10px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 0 10px 0;
    max-width: 900px;
    min-width: 900px;
    margin: 0 auto 20px auto;
}

.filters-row {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
}
.form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-column label {
    font-size: 12px;
}

label{
    padding: 5px 5px 5px 0;
    color: #333;
    font-weight: bold;
}

input[readonly] {
    cursor: default !important;
    color: #999 !important;
}
input:focus[readonly] {
    outline: none !important;
    box-shadow: none !important;
}

.image-box {
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    color: #777;
    align-items: center;
    border: solid 2px #aaa;
    background-color: #f9f9f9;
    overflow: hidden;
}

.image-box img {
    width: 100%;
}
button:hover,
.fa-trash:hover {
    transition: background 0.2s, color 0.2s;
}

.btn {
    min-height: 30px;
    height: 30px;
    max-height: 30px;
    background-color: #1e94a3;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;

}

.btn:hover{
    background-color: #277580;
}

.filters .filter-input,
.filters .filter-select {
    width: 145px;
}

input, select {
    padding: 2px 8px;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
}

.filters-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0 10px;
    max-width: 620px;
}

.fa-arrow-left:hover,
.fa-house:hover,
.fa-arrow-up:hover {
    color: #1E94A3;
    transition: color 0.2s;
}

.actions i {
    background: none;
    border: none;
    color: #555;
    padding: 0;
    margin: 0 2px 2px 0;
    cursor: pointer;
    font-size: 14px;
    vertical-align: middle;
    outline: none;
    text-decoration: none;
}

/* .fa-solid.fa-trash:hover {
    color: red;
} */


.filters-container {
    width: 900px;
    margin: 0 auto 20px auto;
    box-sizing: border-box;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cargo-list {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scrollbar-width: none;
    width: 100%;
    position: relative;
    padding-right: 120px;
    box-sizing: border-box;
}

.cargo-gradient {
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    height: 100%;
    pointer-events: none;
    z-index: 2;
    background: linear-gradient(to left, rgb(255 255 255) 92%, rgba(255, 255, 255, 0.0) 100%);
}

.cargo-btn {
    border: none;
    border-radius: 8px;
    padding: 2px 15px;
    font-size: 14px;
    color: #fff;
    transition: background 0.2s;
    margin-top: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
    height: 30px;
    white-space: nowrap;
    cursor: pointer;
}

.cargo-btn:hover {
    cursor: pointer;
    filter: brightness(0.8);
    transition: 0.2s;
}

.cargo-btn i {
    font-size: 12px;
}

.cargo-btn.cargo-1  { background: #1e94a3; }
.cargo-btn.cargo-2  { background: #277580; }
.cargo-btn.cargo-3  { background: #bfa100; }
.cargo-btn.cargo-4  { background: #c0392b; }
.cargo-btn.cargo-5  { background: #e67e22; }
.cargo-btn.cargo-6  { background: #8e44ad; }
.cargo-btn.cargo-7  { background: #16a085; }
.cargo-btn.cargo-8  { background: #3f6ab3; }
.cargo-btn.cargo-9  { background: #3b458a; }
.cargo-btn.cargo-10 { background: #be9454; }

.btn-novo-cargo {
    border: none;
    border-radius: 8px;
    color: #fff;
    transition: background 0.2s;
    margin-top: 5px;
    display: flex;
    gap: 4px;
    align-items: center;
    height: 30px;
    white-space: nowrap;
    position: absolute;
    right: 0;
    z-index: 3;
}
.btn-novo-cargo:hover {
    background: #277580;
}

#contador-cargos {
    font-size: 12px;
    margin-left: 10px;
    border: solid 2px #1e94a3;
    border-radius: 20px;
    padding: 2px 5px 0 5px;
    color: #1e94a3;
    background: #fff;
    display: flex;
    align-items: center;
    font-weight: normal;
    gap: 3px;
}
#contador-cargos-num {
    font-size: 14px;
    font-weight: bold;
    margin-right: -2px;
}


.permissoes-table {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.permissoes-labels {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-right: 18px;
}
.permissoes-labels p {
    margin: 0;
    font-size: 14px;
    color: #333;
}
.permissoes-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55px;
}

.permissoes-col.tudo {
    justify-content: flex-end;
    width: unset;
    margin-left: 15px;
}
.permissoes-col span {
    font-size: 12px;
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
}
.permissoes-col input[type="checkbox"] {
    cursor: pointer;
    margin-bottom: 10px;
    width: 12px;
    height: 12px;
}
.permissoes-col input[type="checkbox"]:last-child {
    margin-bottom: 0;
}

.permissoes {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
}

.permissoes-col.acessar input { accent-color: #4c9f52; }
.permissoes-col.criar input { accent-color: #bc8620; }
.permissoes-col.editar input { accent-color: #dc7820; }
.permissoes-col.excluir input { accent-color: #c0392b; }
.permissoes-col.tudo input { accent-color: #1e94a3; border-radius: 50%; }

.fa-circle-info { 
    color: #333;
    font-size: 12px;
    position: relative;
    left: 5px;
    margin-left: 4px;
}

.permissoes-header {
    display: flex;
    font-weight: bold;
}

.permissoes-row {
    display: flex;
    align-items: center;
    transition: background 0.2s;
}

.permissoes-header.permissoes-row{
    align-items: flex-end;
}

.permissoes-row:not(.permissoes-header):hover {
    background: #f1f1f1;
}

.cell {
    min-width: 80px;
    max-width: 80px;
    display: flex;
    justify-content: center;
}
.permissoes-cell {
    flex: 1;
    padding: 8px;
    text-align: center;
    box-sizing: border-box;
}

.permissoes-cell.acoes-header,
.permissoes-cell.modulo-header {
    padding: 0 8px 4px 0;
}
.modulo-header, .modulo-nome {
    font-weight: bold;
}

.permissoes-cell.modulo-nome {
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    padding-left: 20px;
}

.permissoes-cell.modulo-header {
    padding-left:20px;
}

.permissoes-cell input[type="checkbox"] {
    float: right;
    accent-color: #1e94a3;
    width: 14px;
    height: 14px;
    margin: 0;
    cursor: pointer;
    vertical-align: middle;
}

.permissoes-cell.checboxes-container {
    padding-right: 20px;
}

.permissoes-cell input[type="checkbox"].perm-check[data-nivel="1"] { accent-color: #4c9f52; }
.permissoes-cell input[type="checkbox"].perm-check[data-nivel="2"] { accent-color: #bc8620; }
.permissoes-cell input[type="checkbox"].perm-check[data-nivel="3"] { accent-color: #dc7820; }
.permissoes-cell input[type="checkbox"].perm-check[data-nivel="4"] { accent-color: #c0392b; }
.permissoes-cell input[type="checkbox"].perm-check-all { accent-color: #1e94a3; border-radius: 50%; }

.btn-editar-cargo,
.btn-salvar-cargo {
    border: 2px solid #1e94a3;
    color: #1e94a3;
    background: #fff;
    border-radius: 12px;
    padding: 4px 8px;
    font-size: 12px;
    cursor: pointer;
    margin-left: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: background 0.2s, color 0.2s, border-color 0.2s;
}

.btn-editar-cargo:hover,
.btn-salvar-cargo:hover {
    background: #1e94a3;
    color: #fff;
    border-color: #1e94a3;
}
.btn-excluir-cargo {
    border: 2px solid #d33;
    color: #d33;
    background: #fff;
    border-radius: 12px;
    padding: 4px 8px;
    font-size: 12px;
    cursor: pointer;
    margin-left: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: background 0.2s, color 0.2s, border-color 0.2s;
}
/* excluir fica vermelho no hover */
.btn-excluir-cargo:hover {
    background: #d33;
    color: #fff;
    border-color: #d33;
}

.btn-cancelar-cargo {
    border-radius: 12px;
    padding: 4px 8px;
    font-size: 12px;
    cursor: pointer;
    margin-left: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: background 0.2s, color 0.2s, border-color 0.2s;
    background: #fff;
}

.btn-cancelar-cargo {
    border: 2px solid #aaa;
    color: #aaa;
    background: #fff;
}
.btn-cancelar-cargo:hover {
    background: #aaa;
    color: #fff;
    border-color: #aaa;
}

.btn-renomear-cargo {
    border: 2px solid #277580;
    color: #277580;
    background: #fff;
    border-radius: 12px;
    padding: 4px 8px;
    font-size: 12px;
    cursor: pointer;
    margin-left: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: background 0.2s, color 0.2s, border-color 0.2s;
}
.btn-renomear-cargo:hover {
    background: #277580;
    color: #fff;
    border-color: #277580;
}

.perm-col-btn, .perm-check-all {
    border: 2px solid #757575;
    color: #757575;
    background: #fff;
    border-radius: 12px;
    padding: 4px 8px;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: background 0.2s, color 0.2s, border-color 0.2s;
}

.perm-col-btn:hover,
.perm-check-all:hover {
    background: #757575;
    color: #fff;
    border-color: #757575;
}
.perm-check-all {
    width: 16px;
    height: 16px;
    cursor: pointer;
    padding: 0;
    font-size: 8px;
    justify-content: center;
    background: #fff;
    color: #757575;
    border: 2px solid #757575;
    border-radius: 50%;
    transition: background 0.2s, color 0.2s, border 0.2s;
}

.perm-col-btn.selected-acessar {
    background: #fff;
    color: #43b04a;
    border-color: #43b04a;
}
.perm-col-btn.selected-criar {
    background: #fff;
    color: #bfa100;
    border-color: #bfa100;
}
.perm-col-btn.selected-editar {
    background: #fff;
    color: #e67e22;
    border-color: #e67e22;
}
.perm-col-btn.selected-excluir {
    background: #fff;
    color: #c0392b;
    border-color: #c0392b;
}

.perm-check-all.selected {
    background: #1e94a3;
    color: #fff;
    border-color: #1e94a3;
}

.perm-col-btn {
    background: #fff;
    color: #757575;
    border: 2px solid #757575;
    border-radius: 12px;
    transition: background 0.2s, color 0.2s, border 0.2s;
}

/* sweetAlert */
.swal2-popup {
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    border-radius: 10px;
}

.swal2-container {
    backdrop-filter: blur(2px);
}

.swal2-actions {
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0 20px;
}

.swal2-confirm,
.swal2-cancel,
.swal2-deny,
.swal2-styled.swal2-confirm,
.swal2-styled.swal2-cancel,
.swal2-styled.swal2-deny {
    flex: 1;
    margin: 0;
    border-radius: 4px;
    font-size: 12px;
    height: 30px;
    padding: 2px 8px;
    box-shadow: none;
    border: none;
    transition: background 0.2s, color 0.2s;
}

/* Botão de cancelar */
.swal2-cancel,
.swal2-styled.swal2-cancel {
    background-color: #fff;
    color: #1e94a3;
    border: #1e94a3 solid 1px;
}
.swal2-cancel:hover,
.swal2-styled.swal2-cancel:hover {
    background-color: #1E94A3;
    color: #fff;
}

/* Botão de confirmação/cancelar custom */
.swal2-confirm,
.swal2-styled.swal2-confirm,
.swal2-cancel-custom,
.swal2-styled.swal2-cancel-custom {
    background-color: #1E94A3;
    color: #fff;
}
.swal2-confirm:hover,
.swal2-styled.swal2-confirm:hover,
.swal2-cancel-custom:hover,
.swal2-styled.swal2-cancel-custom:hover {
    background-color: #277580;
}

/* Botão de deletar (vermelho padrão SweetAlert2) */
.swal2-remove-custom,
.swal2-styled.swal2-remove-custom {
    background-color: #d33;
    color: #fff;
}
.swal2-remove-custom:hover,
.swal2-styled.swal2-remove-custom:hover {
    background-color: #a52a2a;
}

/* Ícone de fechar (X) */
.swal2-close {
    color: #333;
    font-size: 30px;
    top: 10px;
    right: 10px;
    position: absolute;
    transition: color 0.2s;
}
.swal2-close:hover {
    color: #f27474;
}

/* Título */
.swal2-title {
    padding-top: 0;
    font-size: 20px;
}

/* Conteúdo HTML */
.swal2-html-container {
    padding: 10px;
    font-size: 16px;
}

.swal2-validation-message {
    color: #f27474;
    font-size: 12px;
    background: white;
    margin: 0;
    padding-top: 0;
}

.swal2-timer-progress-bar {
    border-radius: 0px 0 0 10px;
    margin-left: 3px;
}

.swal2-input:focus {
    box-shadow: none !important;
}